:root {
    --couleur-texte: hsl(180, 20%, 80%);
    --couleur-texte-gras: hsl(180, 20%, 100%);
    --couleur-titre: hsl(225, 90%, 65%);
    --couleur-lien: hsl(200, 80%, 60%);
    --couleur-background: hsl(190, 20%, 5%);
    --taille-menuIcone: 5rem;
    --couleur-bordure: hsl(200, 0%, 30%);
    --taille-bordure: 1px;
    --couleur-gradient-1: hsl(200, 20%, 10%);
    --couleur-gradient-2: hsl(200, 20%, 5%);
    --angle-bordure: 0.5rem;
}

@media (max-width: 925px) {
    :root {
        --taille-menuIcone: 3rem;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px red solid; */
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: min(100%, 1200px);
    padding-inline: var(--taille-menuIcone);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 1.4em;
    background-color: var(--couleur-background);
    color: var(--couleur-texte);
}

@media (max-width: 925px) {
    body {
        padding-right: 0.5rem;
    }
}

@media (max-width: 855px) {
    body {
        padding-left: 0.5rem;
    }
}

.contenu {
    background: linear-gradient(to bottom right, var(--couleur-gradient-1), var(--couleur-gradient-1));
    mask-image: linear-gradient(to right, transparent 0%, black 4%, black 96%, transparent 100%);
    z-index: 1;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--couleur-background);
    border-radius: 0 var(--angle-bordure) var(--angle-bordure) 0;
    /* box-shadow: 0 0 1px var(--couleur-texte); */
    border: var(--taille-bordure) var(--couleur-bordure) solid;
    z-index: 2;
}

@media (max-width: 855px) {
    nav {
        flex-direction: row;
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 var(--angle-bordure) var(--angle-bordure);
    }
}

nav a {
    border-top: var(--taille-bordure) var(--couleur-bordure) solid;
    border-left: none;
}

@media (max-width: 855px) {
    nav a {
        border-left: var(--taille-bordure) var(--couleur-bordure) solid;
        border-top: none;
    }
}

nav a:first-child {
    border-top: none;
    border-left: none;
}

.navItem {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    color: transparent;
    stroke: var(--couleur-texte-gras);
    fill: transparent;
    cursor: pointer;
}

.navItem:hover {
    color: var(--couleur-texte-gras);
    fill: var(--couleur-texte-gras);
    stroke: transparent;
}

.navItem svg {
    width: var(--taille-menuIcone);
    height: var(--taille-menuIcone);
}

nav a {
    color: var(--couleur-texte);
}

nav button {
    background-color: inherit;
    border: none;
}

#accueil {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: center;
    justify-items: center;
    padding: 3rem;
}

@media (max-width: 855px) {
    #accueil {
        padding-top: calc(var(--taille-menuIcone) + 3rem);
        padding-inline: 2rem;
        grid-template-columns: 1fr;
    }
}

#accueil svg text {
    stroke: var(--couleur-texte-gras);
    stroke-linecap: round;
    text-anchor: middle;
    font-weight: 1000;
    animation: 40s infinite dessin both;
    fill: transparent;
}

.avatar {
    max-width: 150px;
    border-radius: var(--angle-bordure);
}

#accueil p {
    grid-column: span 2;
}

@media (max-width: 855px) {
    #accueil p {
        grid-column: 1;
    }
}

#projets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 3rem;
}

@media (max-width: 855px) {
    #projets {
        grid-template-columns: 1fr;
        padding-top: calc(var(--taille-menuIcone) + 3rem);
        padding-inline: 2rem;
    }
}

.card {
    border-radius: var(--angle-bordure);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border: var(--taille-bordure) var(--couleur-bordure) solid;
    background: linear-gradient(to bottom, hsl(200, 100%, 5%), hsl(200, 100%, 10%), hsl(200, 100%, 5%));
}

h3 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
    color: var(--couleur-titre);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: var(--angle-bordure);
    border: var(--taille-bordure) var(--couleur-bordure) solid;
}

.card img:hover {
    animation: grossi 0.5s both;
}

@keyframes grossi {

    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 0.95;
    }
}

p {
    text-align: justify;
    align-self: baseline;
}

b {
    color: var(--couleur-texte-gras);
}

a {
    color: var(--couleur-lien);
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.contact {
    background: black;
    color: var(--couleur-texte);
    /* border-image: conic-gradient(from var(--gradient-angle), blue 50%, cyan 100%) 1; */
    padding: 0.5em 1em;
    font: inherit;
    cursor: pointer;
    /* animation: rotation 8s linear infinite; */
    border: none;
    border-radius: var(--angle-bordure);
    border: var(--taille-bordure) black solid;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.contact:hover {
    background: linear-gradient(to top, #2A2A2A, #151515);
    border: var(--taille-bordure) var(--couleur-bordure) solid;
}

@keyframes dessin {

    0% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(0);
    }

    1% {
        stroke-width: 1;
    }

    8%,
    13% {
        stroke-dashoffset: -20%;
        stroke-dasharray: 30% 0%;
    }

    19% {
        stroke-width: 1;
    }

    20% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(0);
    }

    21% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-30px);
    }

    22% {
        stroke-width: 1;
    }

    28%,
    33% {
        stroke-dashoffset: -20%;
        stroke-dasharray: 30% 0%;
    }

    39% {
        stroke-width: 1;
    }

    40% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-30px);
    }

    41% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-60px);
    }

    42% {
        stroke-width: 1;
    }

    48%,
    53% {
        stroke-dashoffset: -20%;
        stroke-dasharray: 30% 0%;
    }

    59% {
        stroke-width: 1;
    }

    60% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-60px);
    }

    61% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-90px);
    }

    62% {
        stroke-width: 1;
    }

    68%,
    73% {
        stroke-dashoffset: -20%;
        stroke-dasharray: 30% 0%;
    }

    79% {
        stroke-width: 1;
    }

    80% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-90px);
    }

    81% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-120px);
    }

    82% {
        stroke-width: 1;
    }

    88%,
    93% {
        stroke-dashoffset: -20%;
        stroke-dasharray: 30% 0%;
    }

    99% {
        stroke-width: 1;
    }

    100% {
        stroke-width: 0;
        stroke-dashoffset: 20%;
        stroke-dasharray: 0 30%;
        transform: translateY(-120px);
    }
}